<div ng-cloak class="ng-cloak">
<table ng-show="academic_courses == 0">
	<tr><td>{{ label.educations.academic_terms.academic_courses.empty_msg }}</td></tr>
</table>
<table ng-init="validateOrder(ed_term_course, academic_term_id)" id="academic_courses_list">
	<tr>
		<th>
			<canvas class="icon" ng-click="updateOrder(ed_term_course, academic_term_id, 'course', string)" icon-sorting data-parent="{{ academic_term_id }}" data-neighbors="canvas_ed_term_course_grade_{{ academic_term_id }}" data-type="ed_term_course" data-field="course" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_ed_term_course_course_{{ academic_term_id }}" width="16" height="16"></canvas>
			{{ label.educations.academic_terms.academic_courses.course }}
		</th>
		<th>
			<canvas class="icon" ng-click="updateOrder(ed_term_course, academic_term_id, 'grade', num)" icon-sorting data-parent="{{ academic_term_id }}" data-neighbors="canvas_ed_term_course_course_{{ academic_term_id }}" data-type="ed_term_course" data-field="grade" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_ed_term_course_grade_{{ academic_term_id }}" width="16" height="16"></canvas>
			{{ label.educations.academic_terms.academic_courses.grade }}
		</th>
		<th>{{ label.educations.academic_terms.academic_courses.description }}</th>
	</tr>
	<tr class="rows link" ng-repeat="academicCourse in academic_courses | orderObjectBy : getOrderField(ed_term_course, academic_term_id) : getOrderReversibility(ed_term_course, academic_term_id) : getOrderType(ed_term_course, academic_term_id)" id="academic_course_{{academicCourse.id}}" data-tags="{{academicCourse.tags | tags}}"
	popover-html-unsafe="{{ popover_message(academicCourse.course, academicCourse.links, academicCourse.attachments, academicCourse.tags, academicCourse.awards) }}">
		<td width="30%">{{academicCourse.course}}</td>
		<td width="10%">{{academicCourse.grade | number:label.config.number_format.decimal_separator:label.config.number_format.fraction_size}}</td>
		<td>{{academicCourse.description}}</td>
	</tr>
</table>
</div>