<div ng-cloak>
	<table ng-show="educations == 0">
		<tr><td>{{ label.educations.empty_msg }}</td></tr>
	</table>
	<table ng-init="checkOrdPos(ed, 0)" id="educations_list">
		<tr>
			<th>
				<a href ng-click="order(ed, 'title', 0, string)">
					<canvas iconordering data-parent="0" data-neighbors="canvas_ed_started_at,canvas_ed_done_at" data-type="ed" data-field="title" id="canvas_ed_title" width="16" height="16"></canvas>
				</a>
				{{ label.educations.title }}&nbsp;&nbsp;&nbsp;
			</th>
			<th>
				{{ label.educations.institution }}&nbsp;&nbsp;&nbsp;
			</th>
			<th>
				{{ label.educations.description }}</a>&nbsp;&nbsp;&nbsp;
			</th>
			<th>
				<a href ng-click="order(ed, 'started_at', 0, date)">
					<canvas iconordering data-parent="0" data-neighbors="canvas_ed_done_at,canvas_ed_title" data-type="ed" data-field="started_at" id="canvas_ed_started_at" width="16" height="16"></canvas>
				</a>
				{{ label.educations.started_at }}&nbsp;&nbsp;&nbsp;
			</th>
			<th>
				<a href ng-click="order(ed, 'done_at', 0, date)">
					<canvas iconordering data-parent="0" data-neighbors="canvas_ed_started_at,canvas_ed_title" data-type="ed" data-field="done_at" id="canvas_ed_done_at" width="16" height="16"></canvas>
				</a>
				{{ label.educations.done_at }}
			</th>
		</tr>
		<tr class="rows" ng-repeat="education in educations |  orderObjectBy : orderFuncField(ed, 0) : orderFuncReverse(ed, 0) : orderFuncType(ed, 0)" id="education_{{education.id}}" data-tags="{{education.tags | tags}}">
			<td><a href ng-click="selectItem(ed, education.id)">{{education.title}}</a>&nbsp;&nbsp;&nbsp;</td>
			<td>{{education.institution}}&nbsp;&nbsp;&nbsp;</td>
			<td>{{education.description}}&nbsp;&nbsp;&nbsp;</td>
			<td>{{education.started_at | date:'MM/yyyy'}}&nbsp;&nbsp;&nbsp;</td>
			<td>{{education.done_at | date:'MM/yyyy'}}</td>
		</tr>
	</table>
	<table class="noborder">
		<tr ng-repeat="education in educations" data-tags="{{education.tags | tags}}" class="noborder">
			<td class="noborder">
				<div ng-hide="true">{{ academic_periods = education.academic_periods }}</div>
				<div ng-hide="true">{{ education_id = education.id }}</div>
				<div ng-show="isSelectedItem(ed, education.id)" ng-include="'templates/academic_periods/index.html'"></div>
			</td>
		</tr>
	</table>
</div>