<ng-cloak ng-init="init()"></ng-cloak>
<div>
	<ul ng-show="item == 0">
		<li>No education record.</li>
	</ul>
	<ul>
		<li>
			{{item.title}} - {{item.institution}} - {{item.description}}
		</li>
	</ul>
</div>