<table ng-show="publications == 0">
	<tr><td>{{ label.publications.empty_msg }}</td></tr>
</table>
<table ng-init="validateOrder(pub, 0)" id="publications_list">
	<tr>
		<th>
			<canvas class="icon" ng-click="updateOrder(pub, 0, 'title', string)" icon-sorting data-parent="0" data-neighbors="canvas_pub_published" data-type="pub" data-field="title" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_pub_title" width="16" height="16"></canvas>
			{{ label.publications.title }}
		</th>
		<th>{{ label.publications.description }}</th>
		<th width="15%">
			<canvas class="icon" ng-click="updateOrder(pub, 0, 'published', date)" icon-sorting data-parent="0" data-neighbors="canvas_pub_title" data-type="pub" data-field="published" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_pub_published" width="16" height="16"></canvas>
			{{ label.publications.published }}
		</th>
	</tr>
	<tr class="rows link" ng-repeat="publication in publications |  orderObjectBy : getOrderField(pub, 0) : getOrderReversibility(pub, 0) : getOrderType(pub, 0)" id="publication_{{publication.id}}" data-tags="{{publication.tags | tags}}"
	popover-html-unsafe="{{ popover_message(publication.title, publication.links, publication.attachments, publication.tags, publication.awards) }}">
		<td>{{publication.title}}</td>
		<td>{{publication.description}}</td>
		<td>{{publication.published | date:label.config.date_format}}</td>
	</tr>
</table>
