<div class="ng-cloak">

<table class="noborder"><tr>
<td width="70%" valign="top" class="noborder">
<div ng-view=""></div>
</td>
<td class="noborder" ng-include="'templates/tags/index.html'">
</td>
<!--<div>&nbsp;<br>&nbsp;</div>-->
</tr></table>
</div>