<div class="ng-cloak">

<table class="noborder" width="100%"><tr>
<td width="70%" valign="top" class="noborder">
<div ng-view=""></div>
</td>
<td width="30%" align="right" valign="top" class="noborder">
<div ng-include="'templates/tags/index.html'"></div>
</td>
</tr></table>
</div>