<table class="noborder" width="100%">
<tr><td class="noborder">
<div ng-include="'templates/user/index.html'"></div>
</td></tr>
<tr><td class="noborder">
<div ng-include="'templates/languages/index.html'"></div>
</td></tr>
<tr><td class="noborder">
<table class="noborder" width="100%"><tr>
<td width="70%" valign="top" class="noborder">
<div ng-include="'templates/portfolio/index.html'"></div>
</td>
<td width="30%" align="right" valign="top" class="noborder">
<div ng-include="'templates/tags/index.html'"></div>
</td>
</tr></table>
</td></tr>
</table>