<table ng-show="academic_terms == 0">
	<tr><td>{{ label.educations.academic_terms.empty_msg }}</td></tr>
</table>
<table ng-init="validateOrder(ed_term, education_id)" id="academic_terms_list">
	<tr>
		<th>
			<canvas class="icon" ng-click="updateOrder(ed_term, education_id, 'name', string)" icon-sorting data-parent="{{ education_id }}" data-neighbors="canvas_ed_term_start_{{ education_id }},canvas_ed_term_end_{{ education_id }}" data-type="ed_term" data-field="name" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_ed_term_name_{{ education_id }}" width="16" height="16"></canvas>
			{{ label.educations.academic_terms.name }}
		</th>
		<th>
			<canvas class="icon" ng-click="updateOrder(ed_term, education_id, 'start', date)" icon-sorting data-parent="{{ education_id }}" data-neighbors="canvas_ed_term_name_{{ education_id }},canvas_ed_term_end_{{ education_id }}" data-type="ed_term" data-field="start" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_ed_term_start_{{ education_id }}" width="16" height="16"></canvas>
			{{ label.educations.academic_terms.start }}
		</th>
		<th>
			<canvas class="icon" ng-click="updateOrder(ed_term, education_id, 'end', date)" icon-sorting data-parent="{{ education_id }}" data-neighbors="canvas_ed_term_name_{{ education_id }},canvas_ed_term_start_{{ education_id }}" data-type="ed_term" data-field="end" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_ed_term_end_{{ education_id }}" width="16" height="16"></canvas>
			{{ label.educations.academic_terms.end }}
		</th>
		<th>
			{{ label.educations.academic_terms.details }}
		</th>
	</tr>
	<tr class="rows" ng-repeat="academicTerm in academic_terms | orderObjectBy : getOrderField(ed_term, education_id) : getOrderReversibility(ed_term, education_id) : getOrderType(ed_term, education_id)" id="academic_term_{{academicTerm.id}}" data-tags="{{academicTerm.tags | tags}}">
		<td>
			<canvas class="icon" ng-click="selectItem(ed_term, academicTerm.id)" icon-section data-neighbors="canvas_ed_term_id_" data-status="open" data-color="{{label.config.icon_color}}" id="canvas_ed_term_id_{{ academicTerm.id }}" width="16" height="16"></canvas>
			{{academicTerm.name}}
		</td>
		<td>{{academicTerm.start | date:label.config.date_format}}</td>
		<td>{{academicTerm.end | date:label.config.date_format}}</td>
		<td align="center">
			<canvas class="icon" icon-section data-neighbors="" data-status="open" data-color="{{label.config.icon_color}}" id="canvas_ed_term_details_id_{{ academicTerm.id }}" width="16" height="16"
			popover-html-unsafe="{{ popover_message(academicTerm.name, academicTerm.links, academicTerm.attachments, academicTerm.tags, academicTerm.awards) }}"></canvas>
		</td>
	</tr>
</table>
<table class="noborder">
	<tr ng-repeat="academicTerm in education.academic_terms" class="noborder">
		<td class="noborder">
			<div ng-hide="true">{{ academic_courses = academicTerm.academic_courses }}</div>
			<div ng-hide="true">{{ academic_term_id = academicTerm.id }}</div>
			<div ng-show="isSelectedItem(ed_term, academicTerm.id)" ng-include="'templates/academic_courses/index.html'"></div>
		</td>
	</tr>
</table>
