<div class="popover {{placement}}" ng-class="{ in: isOpen(), fade: animation() }">
  <div class="arrow"></div>
  <div class="popover-inner">
      <div class="popover-content" bind-html-unsafe="content"></div>
  </div>
</div>