<div ng-cloak class="ng-cloak">
	<div ng-show="users == 0">
		{{ label.users.empty_msg }}
	</div>
	<div>
		<a href='#' class='navbar-brand' popover-html-unsafe="{{ popover_message(user.name, user.links, user.attachments, user.awards) }}">
          {{ user.name }}
		</a>
	</div>
</div>