<div ng-cloak class="ng-cloak">
	<table ng-show="labels == 0">
		<tr><td>Labels not retrieved yet!</td></tr>
	</table>
	<table ng-show="tags == 0">
		<tr><td>{{ label.tags.empty_msg }}</td></tr>
	</table>
    <div id="tag_cloud">
		<table id="tag_section_list" ng-init="validateOrder(tag_section, 0)" class="noborder" width="100%">
			<tr width="100%">
				<th width="30%" class="noborder">
					<canvas class="icon" ng-click="updateOrder(tag_section, 0, 'taggings_count', num)" icon-sorting data-parent="0" data-neighbors="canvas_tag_section_name" data-type="tag_section" data-field="taggings_count" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_tag_section_taggings_count" width="16" height="16"></canvas>
					{{ label.tags.taggings_count }}
				</th>
				<th width="30%" class="noborder">
					<canvas class="icon" ng-click="updateOrder(tag_section, 0, 'name', string)" icon-sorting data-parent="0" data-neighbors="canvas_tag_section_taggings_count" data-type="tag_section" data-field="name" data-status="none" data-color="{{label.config.icon_color}}" id="canvas_tag_section_name" width="16" height="16"></canvas>
					{{ label.tags.name }}
				</th>
				<th width="40%" class="noborder">
					<input ng-model="search_text" type="text" size="12"></input>
				</th>
			</tr>
		</table>
		<ul class="nav nav-pills">
			<li ng-repeat="tag in tags | tagsSearch : search_text | orderObjectBy : getOrderField(tag_section, 0) : getOrderReversibility(tag_section, 0) : getOrderType(tag_section, 0)" id="{{tag.id}}" name="{{tag.name}}" title="{{tag.name}}" data-cloudname="{{tag.name}}">
		  		<a href="#" tag-cloud data-cloudname="{{tag.name}}" name="{{tag.name}}" title="{{tag.name + ': ' + tag.taggings_count}}" id="{{tag.id}}" class="{{tag.css_class}}">{{tag.name}}</a>
		  	</li>
		</ul>
	</div>
</div>
