/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.3em; }
.css3 { font-size: 1.6em; }
.css4 { font-size: 1.9em; }

table {
  margin-top: 10px;
}

table, th, td { 
  border: 1px solid #000;
}

.rows:hover {
  background-color: #E3E4FA;
}

.rows.link:hover {
  background-color: #E3E4FA;
  cursor: pointer;
}

/*.rows.link:active {
  background-color: yellow;
}*/


.icon:hover {
  cursor: pointer;
}

tr > th {
  padding: 3px 6px 3px 6px;
}

tr > td {
  padding: 3px 6px 3px 6px;
}

.noborder {
  border-style: none;
}

.noborder-top {
  border-top-style: none;
}

.noborder-bottom {
  border-bottom-style: none;
}

.noborder-right {
  border-right-style: none;
}

.noborder-left {
  border-left-style: none;
}
