<div class="page-content inset" ng-cloak class="ng-cloak">
	<div ng-show="labels == 0">Labels not retrieved yet!</div>
	
	<div ng-include="'templates/educations/index.html'" ng-show="isSelected(1)"></div>
	
	<div ng-include="'templates/companies/index.html'" ng-show="isSelected(2)"></div>
	
	<div ng-include="'templates/types_certificates/index.html'" ng-show="isSelected(3)"></div>
	
	<div ng-include="'templates/publications/index.html'" ng-show="isSelected(4)"></div>
	
	<div ng-include="'templates/projects/index.html'" ng-show="isSelected(5)"></div>
</div>